# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3ef93ba0cad3e302ddbd28b88e3ab50926da5ca1acb34c73694f57a84d8a5815c6991a5411ed8632e33e99ab0ec0595ff8af9ccd830b450563510147d9000408

test:
  secret_key_base: f6d92c630660d5fd16f8b681805c9476698dfd0fca0b1b2fecea89f9bc89fa16729bc5ebd1829703c480933b69c3f7dd1425d940bc4eaf2c1422ddd3db6c5903

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
